/node_modules
/public/hot
/public/storage
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
./.idea
./.idea/
.idea
.idea/
/.idea/.gitignore
/.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
/.idea/commandlinetools/Laravel_6_5_22_21_18.xml
/.idea/misc.xml
